<h1>Edit Post</h1>
<form class="" action="/compose/<%=quote.id%>?_method=put" method="post">
  <div class="">
    <input type="hidden" value="<%=quote.quote%>" name="quote">
    <input type="hidden" value="<%=quote.author%>" name="author">
    <p>
      <%= quote.quote %>
      <%= quote.author %>
      <%= quote.composeId %>
    </p>
    <label>Write your post:</label>
    <div>
      <textarea class="" name="postBody" rows="8" cols="100"><%= quote.body %></textarea>
    </div>
  </div>
  <button class="" type="submit" name="button">Save</button>
</form>
<form action="/compose/<%=quote.id%>?_method=delete" method="post">
  <input hidden name="quote" type="text" value="<%=quote.id%>">
  <button class="" type="submit" name="button">Delete</button>
</form>