<h3>Show Page</h3>
<p>
  <%= post.quote %> -- <%= post.author %>
</p>
<h4>Post Body</h4>
<p>
  <%= post.body %>
</p>

<br>
<button class="" name="button"><a href="/post/<%= post.id%>/edit">Edit Post</a></button>
<div>
  <form method="POST" action="/post/<%= post.id%>/comment">
    <input hidden value="<%=post.content%>" name="content" />
    <input hidden value="<%= post.author %>" name="author" />
    <label for="commentbody">Comment:</label>
    <div>
      <textarea id="commentbody" class="" name="body" rows="4" cols="50"></textarea>
    </div>
    <button type="submit">Save Comment</button>
  </form>
</div>

<% if(post.comments){ %>
  <% post.comments.forEach(comment=> { %>
    <p>
      <%= comment.body %>
    </p>
    <% }) %>
      <% } %>